{
  "FIREBASE_API_KEY": "xxxxxxxxxxxxxxxxxxxxxxxxx",
  "FIREBASE_AUTH_DOMAIN": "xxxxx.firebaseapp.com",
  "FIREBASE_DB_URL": "https://xxx.firebaseio.com",
  "FIREBASE_PROJECT_ID": "xxxxxxxxxxxxxxxxxxxxxx",
  "FIREBASE_STORAGE": "xxxxxxxxxxxxx.appspot.com",
  "FIREBASE_SENDER_ID": "xxxxxxxxxxxxxxxxxxxxxxx",
  "FIREBASE_APP_ID": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
  "FIREBASE_MEASUREMENT_ID": "xxxxxxxxxxxxxxxxxx"
}
